<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>AssetInventory</title>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Welcome to the AssetInventory!</h1>
    </div>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">AssetInventory</a>
        </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/">Your Inventory</a></li>
                <li><a href="/">Marketplace</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/loginregister"><span class="glyphicon glyphicon-user"></span>Sign Up/Login</a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h2> AssetInventory is a simple application that allows users to track and comment on their items in order to understand both the current supply they have on hand, to value their inventory, and to track the location of all their items.</h2>

        <h3>While many applications can be cumbersome and clunky, AssetInventory tries to take out all the advertising and unneccessary headaches to make sure you truly understand your inventory and can prioritize your work and shipments.</h3>

        <h3>AssetInventory also allows users to talk and build a community to share lessons learned or give each other tips on how to stay profitable in these hard times as wells as sell inventory to users.</h3>

        <h3>We hope you love AssetInventory! So, try it out, give us advice on how to make it the best possible app, and on your way build the best life possible!</h3>
	</div>
	<div class="container text-center">	
		<button><a href="/loginregister">Sign Up/Login</a></button>
	</div>
	
	

    <footer class="container-fluid text-center">
            <p></p>  
    </footer>
</body>
</html>
